/*
 * project  :  commentPage
 * date   : 14-08
 * author : qiyy
 * history :
 */
body{font-family:"arial" , "simsun"  }
/*
.p-xxx  该页面通用
*/

/*
public
*/
.p-col { width:1000px;margin:0 auto;}
.p-wrap{background: url(http://y2.ifengimg.com/a/2014/1023/vote-bg.png) no-repeat center 0;min-width: 1000px;}
.p-wrap .icon-win {display: block;width:42px;height:42px;background: url(http://y2.ifengimg.com/a/2014/1023/icon-win_24.png) no-repeat 0 0; _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://y2.ifengimg.com/a/2014/1023/icon-win_24.png" ,sizingMethod='crop')}
.p-wrap .icon-list{display: block;width: 33px;height: 33px;overflow: hidden;background-image: url(http://y2.ifengimg.com/a/2014/1023/icon-list.gif);background-repeat:  no-repeat;}
.p-wrap .icon-O {background-position:  0 0;}
.p-wrap .icon-D {background-position:  0 -33px;}
.p-wrap .icon-R {background-position:  0 -66px;}
    /*
    彩条
    */
.p-wrap .colorC
,.p-wrap .colorR
,.p-wrap .colorL { height:100%;;position: absolute;top:0;}
.p-wrap .colorC { left: 0 ; z-index: 2; background: #7cad52; 
    border-right:1px solid #fff;}
.p-wrap .colorR { right: 0 ; background: #ab2f2f;border-left:1px solid #fff;  }
.p-wrap .colorL { left: 0 ; z-index: 3;background: #3d538e;border-right:1px solid #fff; }

/*
top
*/
.p-topBox {  position: relative;;padding-top: 322px;margin-bottom: 115px; }
.p-topShareBlock {}
.p-topCellBlock {  float: left;margin-right: 20px;width: 320px;}
.p-topCellBlock-last { margin-right:0 }
.p-topCellBlock  .locTitle{height:38px;line-height: 48px;vertical-align: middle;;font-family: "microsoft yahei";color:#fff;font-size:14px;}
.p-topCellBlock  .locTitle .chName{font-size:18px;}
.p-topCellBlock  .locTitle .engName{font-size:14px;}
.p-topCellBlock  .locTitle-1{padding-left:30px;background: url(http://y2.ifengimg.com/a/2014/1023/num-1.png) no-repeat 0 0 ;}
.p-topCellBlock  .locTitle-2{padding-left:43px;background: url(http://y2.ifengimg.com/a/2014/1023/num-2.png) no-repeat 0 0 ;}
.p-topCellBlock  .locTitle-3{padding-left:41px;background: url(http://y2.ifengimg.com/a/2014/1023/num-3.png) no-repeat 0 0 ;}
.p-topCellBlock  .locCon{ width:320px;height:165px;position: relative; }
.p-topCellBlock  .locCon span{display: block;position: absolute;}

.p-topCellBlock  .locCon .numL
,.p-topCellBlock  .locCon .numR { top:30px;font-size: 36px;line-height: 36px; }
.p-topCellBlock  .locCon .tipsL
,.p-topCellBlock  .locCon .tipsR {top:96px; font-size:12px;color:#717171;}
.p-topCellBlock  .locCon .iconL
,.p-topCellBlock  .locCon .iconR {top:118px;;width:72px;height:25px;text-indent: -99999px;}

.p-topCellBlock  .locCon .numL
,.p-topCellBlock  .locCon .tipsL
,.p-topCellBlock  .locCon .iconL { left: 10px;}

.p-topCellBlock  .locCon .numR
,.p-topCellBlock  .locCon .tipsR
,.p-topCellBlock  .locCon .iconR { right: 10px; }

.p-topCellBlock  .locCon .numL{color: #3d538e;}
.p-topCellBlock  .locCon .numR{color: #ab2f2f;}
.p-topCellBlock  .locCon .tipsL{}
.p-topCellBlock  .locCon .tipsR{}
.p-topCellBlock  .locCon .iconL{background: url(http://y2.ifengimg.com/a/2014/1023/d-1.png) no-repeat 0 0;}
.p-topCellBlock  .locCon .iconR{background: url(http://y2.ifengimg.com/a/2014/1023/d-2.png) no-repeat 0 0;}
.p-topCellBlock  .locCon .iconC{left:0;top:43px;width:100%;padding-bottom: 10px;;height:14px;text-align: center;font-family: "microsoft yahei";font-size: 14px;color:#717171;background: url(http://y2.ifengimg.com/a/2014/1023/icon-arr-b.gif) no-repeat center bottom;}
.p-topCellBlock  .locCon .icon-win {position: absolute;top:40px;z-index: 99}
.p-topCellBlock  .locCon .colorLineBox{position: absolute;top:70px;left:10px;;width:300px;height:20px;background: #d6d7d8;}
.p-topCellBlock  .locCon .colorLineBox-inner{position: relative;width: 100%;height:100%;}
.p-topCellBlock  .locCon .colorL
,.p-topCellBlock  .locCon .colorR
,.p-topCellBlock  .locCon .colorC {}
.p-topCellBlock  .locCon .colorL{ }
.p-topCellBlock  .locCon .colorC{}
.p-topCellBlock  .locCon .colorR{ }

/*
地图
*/
.p-voteMap {background: url(http://y2.ifengimg.com/a/2014/1023/map-bg.png) no-repeat center 10px}
.p-mapTab {height:41px;background: url(http://y2.ifengimg.com/a/2014/1023/map-title-bg.gif) repeat-x 0 0;}
.p-mapTab .tab-list {padding-left: 140px;;background: url(http://y2.ifengimg.com/a/2014/1023/vote-map-title.png) no-repeat 8px center;}
.p-mapTab .tab-list li {width:165px;height:45px;float: left;background: url(http://y2.ifengimg.com/a/2014/1023/voteMap-titleLine.png) no-repeat right center;}
.p-mapTab .tab-list .lastLi {background: none}
.p-mapTab .tab-list a {display: block;width:100%;height:100%;font: 18px/39px "microsoft yahei" ;color:#478dc5;text-align: center;line-height: 39px;}
/* .p-mapTab .tab-list a:hover { height:39px;width:164px;
    background: #f3f3f3;color:#478dc5;text-decoration: none ;
} */
.p-mapTab .tab-list a:hover{height:39px;line-height: 37px;margin-top:1px;background: #f3f3f3;text-decoration: none}

.p-mapTab .tab-list .cur 
,.p-mapTab .tab-list .cur:hover {height:100%;line-height: 39px;margin-top:0; background: url(http://y2.ifengimg.com/a/2014/1023/map-title-on.gif) no-repeat 0 0;color:#fff;text-decoration: none }

.p-mapCon {width:100%;height:716px;margin-bottom: 55px;;position: relative;}

.p-mapConRef
,.p-mapConRefTips
,.p-mapConLB
,.p-mapConRB { position: absolute; font-size: 12px;}

.p-mapConRef
,.p-mapConRefTips {  top:25px;color:#666}

.p-mapConLB
,.p-mapConRB {bottom: 0;}

.p-mapConRef {right:25px;width:20px;height:20px;}
.p-mapConRef  .icon-refresh{right:25px;display: block;width:20px;height:20px;background: url(http://y2.ifengimg.com/a/2014/1023/icon-refresh.png) no-repeat 0 0;}
.p-mapConRefTips {right:60px;top:23px}
.p-mapConRefTips em{color:#ab2734}

.p-mapConLB {left: 25px;color:#4d4d4d;}
.p-mapConLB p {padding-top: 6px;}

.p-mapConRB  {right:25px;width:145px;}
.p-mapConRB  th
,.p-mapConRB  td{;font-family: "microsoft yahei";color:#666;height:16px;line-height: 12px;vertical-align: middle}
.p-mapConRB  th{text-align: center;padding-bottom: 2px;}
.p-mapConRB  td.name{    text-align: right;}
.p-mapConRB  td{padding-bottom: 9px;}

.p-mapConRB  .gro {width:35px;height:15px;margin-left: 1px;margin-top: 2px;}
.p-mapConRB  .gro-1 {background: #3d538e}
.p-mapConRB  .gro-2 {background: #b1c7e7}
.p-mapConRB  .gro-3 {background: #ab2f2f}
.p-mapConRB  .gro-4 {background: #e97373}
.p-mapConRB  .gro-5 {background: #7cab52}
.p-mapConRB  .gro-6 {background: #b8e2bc}
.p-mapConRB  .gro-7 {background: #cdcdcd}
.p-mapConRB  .gro-8 {background: #f6f6f6}
.p-mapConRB  .gro-9 {background: #565656}

.p-mapTipsBox {margin: 0 25px 55px;background: url(http://y2.ifengimg.com/a/2014/1023/mapTis-line.png) repeat-x 0 4px;}
.p-mapTipsBoxInner {background: url(http://y2.ifengimg.com/a/2014/1023/icon-mapTips.gif) no-repeat 0 0;padding-top: 4px;}
.p-mapTipsBox p {border: 1px solid #d5d5d5;border-top: none;padding: 15px;line-height: 26px;font-size:14px;color:#939393}
.p-mapTipsBox .emp{color:#5d5d5d}


/*、
表格
*/

.p-voteTableBox {margin-bottom: 55px;}

    /*
    表格title
    */
.p-voteTableTitle {background: url(http://y2.ifengimg.com/a/2014/1023/tableTitle-line.png) repeat-x 0 bottom;}
.p-voteTableTitle .title {height:31px;background: url(http://y2.ifengimg.com/a/2014/1023/tableTitle-bg.png) no-repeat 0 0;text-indent: -99999px;}

    /*
    表格table
    */
.p-voteTable { width: 100%;}
.p-voteTable th
,.p-voteTable td{ border-bottom: 1px solid #ccc;}
.p-voteTable th {height: 62px;line-height: 62px;vertical-align: middle;;font-family: "microsoft yahei";font-size:18px;color:#2b2b2b;text-align: center;}
.p-voteTable td {height: 52px;line-height: 52px;vertical-align: middle;font-size:14px;color:#666;text-align: center}

.p-voteTable .first{padding-left:33px ;}
.p-voteTable td.first{text-align: left;}

.p-voteTable .name {line-height: 52px;height: 52px;vertical-align: middle;}
.p-voteTable .name .icon{display: inline-block;width:33px;margin-right: 10px;;line-height: 48px;height: 52px;vertical-align: middle;}
.p-voteTable .name .txt{display: inline-block;font-size: 14px;}
.p-voteTable .icon-list {display: inline-block;vertical-align: middle;_margin-top:8px;}

.p-voteTable .colorBox {vertical-align: top;}
.p-colLineBox {width:390px;margin: 0 auto;padding-top: 7px}
.p-colLineBox .colLineBox-inner{height:6px;width:100%; overflow: hidden;font-size: 1px; position: relative;;background: #f6f6f6}

.p-colLineBox .colLineBox-num { position: relative;;height:20px;}
.p-colLineBox .colLineBox-num span {position: absolute;top:0;font-size: 14px;font-family:"arial";}
.p-colLineBox .colLineBox-num .num-1 {left:0; color:#3d538e }
.p-colLineBox .colLineBox-num .num-2 {left:49%; color:#7cad52 }
.p-colLineBox .colLineBox-num .num-3 {right:0; color:#ab2f2f }


/*分享*/
.mod-shareList {position: absolute;right:0; top:20px;}
.mod-shareList li{width:22px;height:22px;margin-left: 10px;float: left;}
.mod-shareList a{display: inline-block;width:22px;height:22px;overflow: hidden;;background-image:url(http://y2.ifengimg.com/a/2014/1023/share.png);background-repeat: no-repeat ; }
.mod-shareList .weibo{ background-position: 0 0}
.mod-shareList .weibo:hover{background-position: 0 -22px}
.mod-shareList .qzone{ background-position: 0 -44px;}
.mod-shareList .qzone:hover{background-position: 0 -66px;}
.mod-shareList .tt{background-position:  0 -88px;}
.mod-shareList .tt:hover{background-position: 0 -110px;}
.mod-shareList .weixin{background-position: 0 -132px;}
.mod-shareList .weixin:hover{background-position: 0 -154px}

.mod-gotoTop {position: fixed;   left: 75%;top: 80%;;height: 50px;width: 50px;padding-left: 151px;z-index: 99;}
.mod-gotoTop a{display: block;width: 100%;height:100%;background: #717171;background: url(http://y2.ifengimg.com/a/2014/1023/gototop.png) no-repeat 0 0;}
.mod-gotoTop a:hover{background-position: 0 -50px;}


/*.ie6 {*/
    /*_position: absolute;*/
    /*_margin-top: 0;*/
    /*_top: expression(documentElement.scrollTop);*/
/*}*/

/*map*/
.top{ border-top:2px solid #2f2e33; height:176px;}
.col{ width:1000px; margin:0 auto;} 
.bg01{ height:176px; background:url(http://y1.ifengimg.com/vote/usa2012/bg01.gif); position: relative;}
.box01{ position:absolute; width:150px; left:108px; top:48px; color:#3b5796; font-family:Arial, Helvetica, sans-serif; z-index:200;}
.box02{ position:absolute; width:150px; right:108px; top:48px; color:#3b5796; font-family:Arial, Helvetica, sans-serif; z-index:200;}
.box02 p{ text-align:right;}
.p01{ font-size:58px; line-height:60px;}
.p02{ color:#fff; padding:0 10px; font-family:Arial, Helvetica, sans-serif; line-height:30px; font-size:14px; font-weight:bold;}
.p03{ padding-top:8px; color:#2b2b2b;}
.bg_col01{ background:#3b5796; height:31px; border-right:2px solid #fff; position:absolute; left:108px; top:105px; z-index:100;}
.bg_col02{ background:#ab2f2f; height:31px; border-left:2px solid #fff; position:absolute; right:108px; top:105px; z-index:100;}
.v01{ background:url(http://y0.ifengimg.com/vote/usa2012/v01.gif); width:96px; height:101px; position:absolute; left:300px; top:35px; z-index:300;}
.v02{ background:url(http://y0.ifengimg.com/vote/usa2012/v02.gif); width:96px; height:101px; position:absolute; right:300px; top:35px; z-index:300;}
.tit01{ background:url(http://y1.ifengimg.com/vote/usa2012/tit01.gif); height:48px;}
.tit02{ background:url(http://y1.ifengimg.com/vote/usa2012/tit02.gif); height:48px;}
.tit03{ background:url(http://y0.ifengimg.com/vote/usa2012/tit03.gif); height:43px;}
.table01 td{ border-bottom:1px solid #999; font-size:14px; color:#666;}
.p04{ padding-left:33px;}
.table01 .c_red02{ color:#AB2F2F; }
.p05{ padding-right:4px; text-align:center;}
.p06{ text-align:center;}
.pictxt01{ padding:25px 0;}
.pictxt01 li{ width:229px; float:left; background:url(http://y0.ifengimg.com/vote/usa2012/bg02.gif) no-repeat; padding-right:28px;}
.pictxt01 li.pd_no{ padding:0;}
.a02{ padding:6px; display:block;}
.a01{ text-align:center; width:228px; display:block; font:14px/22px simsun;}
.vote{ height:39px; padding-left:20px;}
.v_name{ padding:10px 10px 0; font:14px/24px simsun; color:#666; float:left;}
.v_box{ width:200px; float:left; position:relative; height:39px;}
.v_box span{ font:bold 12px/28px Arial, Helvetica, sans-serif;}
.v_s01{ float:left; color:#3d538f;}
.v_s02{ float:right; color:#ab2f31}
.v_box01{ height:7px; background:#3d538f; position:absolute; left:0; top:22px; z-index:2; overflow:hidden;}
.v_box02{ height:7px; background:#ab2f31; border-left:1px solid #fff; position:absolute; right:0; top:22px; z-index:2; overflow:hidden;}
.v_box03 { height:7px; background:#d6d7d8; position:absolute; left:0; top:22px; z-index:1; width: 200px; overflow:hidden; }
.mg_t30{ margin-top:30px;}
.banner{ background:url(http://y3.ifengimg.com/290d4f76e4804de2/2012/1107/rdn_5099ab8c1d93e.gif) no-repeat center 0; height:100px;}
.p07{ padding:79px 0 0 867px; line-height:20px;}
.p07 a,.p07 a:hover,.p07 a:visited,.p07 a:link{ color:#fff;}

.map_box_out { background: url(http://y1.ifengimg.com/vote/usa2012/map_bg.png);}
.map_box {/* background: url(http://y0.ifengimg.com/vote/usa2012/map_bottom_bg.png) repeat-x left bottom; _background: url(http://y0.ifengimg.com/vote/usa2012/empty.png) no-repeat; height: 737px; position: relative; */}
#map_main { position: absolute; top: 45px; -webkit-touch-callout: none; touch-callout: none; -webkit-user-select: none; user-select: none;}
.refresh_info { position: absolute; top: 24px; right: 85px; color: #666666; line-height: 1.4; }
.refresh_info em { color: #ab2636; }

.refresh_button { position: absolute; top: 28px; right: 25px; width: 47px; height: 18px; background: url(http://y0.ifengimg.com/vote/usa2012/sign.png) no-repeat; color: #FFF; text-align: center; padding-top: 5px; cursor: pointer; }
.refresh_button:hover { text-decoration: underline; }
.refresh_button_disable { color: #999; }

.time_info { position: absolute; bottom: 25px; left: 25px; color: #4d4d4e; line-height: 1.4; }

.map_legend { position: absolute; bottom: 60px; right: 25px; }

.map_legend td { padding: 5px 6px; }
.map_legend th { padding: 5px 6px;  color: #666666; }
.map_legend span { display: inline-block; width: 16px; height: 16px; }

.co_win { background: #3d538e; }
.co_lead { background: #b1c7e7; }
.cr_win { background: #ab2f2f; }
.cr_lead { background: #e97373; }
.c_prepare { background: #d6d7d8; }

.operate_info { position: absolute; bottom: 25px; right: 30px; color: #666666; }
.design_info { position: absolute; bottom: 190px; right: 45px; color: #b1c7e7; font-family: Arial, Helvetica, sans-serif; }

#map_back {position: absolute; width: 1000px; height: 737px; visibility: visible;}
#map_info {}
#map_mask {}
#map_info_side {}

#map_info_side {  width: 1000px; height: 737px; position: absolute; background: url(http://y0.ifengimg.com/vote/usa2012/map_line.png) no-repeat right -45px; }
#map_info_side div { background: url(http://y0.ifengimg.com/vote/usa2012/title_bg.png) no-repeat; _background: url(http://y0.ifengimg.com/vote/usa2012/title_bg_ie6.png) no-repeat; width: 132px; height: 34px; position: absolute; cursor: pointer; z-index: 1; }
#map_info_side p { border: 1px solid #FFF; background: #f6f6f6; width: 109px; height: 19px; font-size: 14px;  font-family: 'Microsoft Yahei', 微软雅黑; padding: 3px 8px; _padding: 6px 8px 0px 8px; }
#map_info_side em { position: absolute; top: 5px; _top: 4px; right: 10px; font: 18px Arial, Helvetica, sans-serif; display: block; width: 20px; text-align: center; height: 19px; line-height: 19px; }
#map_info_side .special_vermont { background: url(http://y0.ifengimg.com/vote/usa2012/title_bg1.png) no-repeat; _background: url(http://y0.ifengimg.com/vote/usa2012/title_bg1_ie6.png) no-repeat; width: 100px;}
#map_info_side .special_vermont p { width: 76px; }
#map_info_side .not_join p { background: #f6f6f6; color: #000; }
#map_info_side .o_win p { background: #7cad52; color: #FFF; }
#map_info_side .o_lead p { background: #b8e2bc; color: #fff; }
#map_info_side .d_win p { background: #3d538e; color: #FFF; }
#map_info_side .d_lead p { background: #b1c7e7; color: #FFF; }
#map_info_side .r_win p { background: #ab2f2f; color: #FFF; }
#map_info_side .r_lead p { background: #e97373; color: #FFF; }
#map_info_side .prepare p { background: #d6d7d8; color: #000; }
#map_info_side .twins_lead p { background: #7d7d7d; color: #FFF; }
#map_info_side .twins_win p { background: #7d7d7d; color: #FFF; }

#map_info_side .d_win .hoverIt { background: #202f56; color: #FFF; }
#map_info_side .d_lead .hoverIt { background: #6885b0; color: #FFF; }
#map_info_side .r_win .hoverIt { background: #741f1f; color: #FFF; }
#map_info_side .r_lead .hoverIt { background: #db3b3b; color: #FFF; }
#map_info_side .o_lead .hoverIt { background: #8db190; color: #FFF; }
#map_info_side .o_win .hoverIt { background: #648c42; color: #FFF; }
#map_info_side .twins_lead .hoverIt { background: #565656; color: #FFF; }
#map_info_side .twins_win .hoverIt { background: #565656; color: #FFF; }
#map_info_side .prepare .hoverIt { background: #aeaeae; color: #000; }
#map_info_side .hoverIt { background: #e9e9e9; color: #000; }

#map_info { width: 1000px; height: 737px; position: absolute; visibility: visible;}
#map_info div { position: absolute; font-family: 'Microsoft Yahei', 微软雅黑; font-size: 12px; text-align: center; line-height: 1.2;}
#map_info em { display: block; font: 18px Arial, Helvetica, sans-serif;}
#map_info .special_louisiana { text-align: left; }
#map_info .special_tennessee { width: 70px; display: block; float: left; }
#map_info .special_tennessee em { float: right; margin-top: -2px; }
#map_info .special_florida { text-align: left; }
#map_info .special_northCarolina { text-align: right; }
#map_info .r_win  { color: #FFF; }
#map_info .o_win  { color: #FFF; }
#map_info .prepare  { color: #000; }
#map_info .special_hawaii { color: #000; }
#map_info .o_lead  { color: #fff; }
#map_info .r_lead  { color: #fff; }
#map_info .d_lead { color: #fff; }
#map_info .d_win  { color: #fff; }
#map_info .twins_lead  { color: #fff; }
#map_info .twins_win  { color: #fff; }

#js_pop_bar_box { visibility: visible; }

#map_pop { position: absolute; visibility: hidden; top: 200px; left: 500px; width: 341px; height: 341px; z-index: 9999; background: url(http://y0.ifengimg.com/vote/usa2012/pop_bg.png) no-repeat center center; _background: url(http://y0.ifengimg.com/vote/usa2012/pop_bg_ie6.png) no-repeat; }
#map_pop .title { position: absolute; top: 34px; left: 30px; font-size: 14px; font-weight: bold; }
#map_pop .poll_count { position: absolute; top: 26px; right: 30px; color: #999; }
#map_pop .poll_count em { font: 24px Arial, Helvetica, sans-serif; padding-right: 5px; }

#map_pop .d_sign { position: absolute; bottom: 67px; left: 57px; width: 38px; height: 0px; background: #3d538e; }
#map_pop .d_bar { position: absolute; bottom: 67px; left: 57px; width: 38px; height: 0px; background: #3d538e; }
#map_pop .d_per { position: absolute; top: -26px; left: -20px; width: 78px; font: 22px Arial, Helvetica, sans-serif; text-align: center; color: #3d538e; }
#map_pop .d_info { position: absolute; bottom: 34px; left: 17px; width: 118px; text-align: center; line-height: 1.2; }
#map_pop .r_sign { position: absolute; bottom: 67px; left: 157px; width: 38px; height: 0px; background: #ab2f2f; }
#map_pop .r_bar { position: absolute; bottom: 67px; left: 157px; width: 38px; height: 0px; background: #ab2f2f; }
#map_pop .r_per { position: absolute; top: -26px; left: -20px; width: 78px; font: 22px Arial, Helvetica, sans-serif; text-align: center; color: #ab2f2f; }
#map_pop .r_info { position: absolute; bottom: 34px; left: 117px; width: 118px; text-align: center; line-height: 1.2; }

#map_pop .o_sign { position: absolute; bottom: 67px; right: 57px; width: 38px; height: 0px; background: #7cad52; }
#map_pop .o_bar { position: absolute; bottom: 67px; right: 57px; width: 38px; height: 0px; background: #7cad52; }
#map_pop .o_per { position: absolute; top: -26px; left: -20px; width: 78px; font: 22px Arial, Helvetica, sans-serif; text-align: center; color: #7cad52; }
#map_pop .o_info { position: absolute; bottom: 34px; right: 17px; width: 118px; text-align: center; line-height: 1.2; }

#map_pop .d_info em, #map_pop .r_info em,#map_pop .o_info em { font: 12px Arial, Helvetica, sans-serif; }
#d_win_bar, #r_win_bar, #o_win_bar { 
    width: 57px; top: 167px;  height: 57px; position: absolute;
    background-image: url(http://y0.ifengimg.com/vote/usa2012/bar_win_sign.png)!important;
    background-repeat: no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://y0.ifengimg.com/vote/usa2012/bar_win_sign.png'); /* IE6 */
    _ background-image: none; /* IE6 */    
}
#d_win_bar {left: 49px;}
#r_win_bar { left: 149px; }
#o_win_bar { right: 49px; }

.ipad_pop_close { background: url(http://y0.ifengimg.com/vote/usa2012/ipad_close.png) no-repeat; position: absolute; top: -15px; right: -15px; width: 47px; height: 47px; display: none; }
.sj{position: absolute;background: url(http://y2.ifengimg.com/a/2014/1023/weixin.png) no-repeat;left: 60px;z-index: 100;top:30px;height:122px;width: 116px;}
